DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

OLLAMA_BASE_URL=
OLLAMA_CHAT_MODEL=
OLLAMA_VL_MODEL=
OLLAMA_TEMPERATURE=0.1

LANGCHAIN_TRACING_V2=true
LANGCHAIN_API_KEY=
LANGCHAIN_ENDPOINT=
LANGCHAIN_PROJECT=