DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=esulBlueprint12
DB_HOST=db.eligiwqdrsppoavzkjdg.supabase.co
DB_PORT=5432

OLLAMA_BASE_URL=https://joint-mutt-mainly.ngrok-free.app/ # Versão local: http://localhost:11434/

#Utilizado no projeto: qwen2.5:7B
OLLAMA_CHAT_MODEL= qwen2.5:7b 
#Utilizado no projeto: minicpm-v
OLLAMA_VL_MODEL=minicpm-v
OLLAMA_TEMPERATURE= 0.0